html, body {
    font-family: Circle;
    margin: 0;
    padding: 0;
    background-color: #f4f0e9;
}

.nav {
    margin: 20px 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: gray;
}

.asteriskField {
    display: none;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
}