<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'service/style.css' %}">
    <title>Служба рекрутинга</title>
</head>

<body>
    <nav class="nav justify-content-center">
        {% block nav %}{% endblock %}
    </nav>
    <main class="container-fluid ">
        <div class="row parent justify-content-center">
            {% block main %}{% endblock %}
        </div>
    </main>
</body>

</html>