{% extends "service/base.html" %}

{% block nav %}
<a href="{% url 'service:recruit' %}" class="nav-link">Для рекрутов</a>
<a href="{% url 'service:sith' %}" class="nav-link">Для ситхов</a>
<a href="" class="nav-link">Бонусная секция</a>
{% endblock %}