{% extends "service/base.html" %}
{% block main %}

<ul class="text-center">
    {% for recruit in recruits %}
    <li>
        <a href="{% url 'service:recruit_detail' sith_id recruit.id %}">
            {{recruit}}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}