{% extends "service/base.html" %}
{% block main %}
<div class="col-3 text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>вопрос</th>
                <th>ответ</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            <tr>
                <td>{{ res.question }}</td>
                <td>{{ res.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-1">
    <form action="{% url 'service:accepted' sith_id recruit.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">Принять</button>
    </form>
</div>
{% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
{% endblock %}