{% extends "service/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<form action="{% url 'service:recruit' %}" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button name="submit" class="btn btn-dark">Далее</button>
</form>
{% endblock %}