{% extends "service/base.html" %}
{% block main %}
<div class="col-3 text-center">
    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>Ситх</th>
                <th>Количество Рук Тени</th>
            </tr>
        </thead>
        <tbody>
            {% for sith in siths %}
            <tr>
                <td><a href="{% url 'service:list_of_recruits' sith.id %}">{{sith}}</a></td>
                <td>{{ sith.recruit_set.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}