{% extends "service/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<div class="col-3">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
    {{form|crispy}}
    {% endfor %}
    <button name="submit" class="btn btn-dark">Сохранить</button>
</form>
</div>

{% endblock %}
</div>